/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

/* 
1. Từ ngoài vào trong
2. Từ trên xuống dưới
3. Tổng quan đến chi tiết
*/

/* 
1. Vị trí 
2. Kích thước
3. Màu sắc
4. Kiểu dáng (kiểu chữ,hình tròn,vuông,...)
*/
/* Common */

.clear {
    clear: both;
}

.text-white {
    color: #fff !important;
}

.text-center {
    text-align: center !important;
}
.pull-right {
    float: right !important;
}
.btn {
    color: #fff;
    background-color:#000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    border: none;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}
.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-full {
    width: 100%;
}
.col-half {
    width: 50%;
}

.col-third {
    width: 33.33333%;
}
.mt-8 {
    margin-top: 8px !important;
}
.mt-16 {
    margin-top: 16px !important;
}

.mt-32 {
    margin-top: 32px !important;
}

/* Main */
#main {

}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: #000;
    z-index: 1;
}

#nav, .subnav {
    list-style-type: none;

}

#nav > li {
    display: inline-block;
}

#nav li { 
    position: relative;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;

}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}
#nav li:hover .subnav {
    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a {
    color: #000;
    background-color: #ccc;
}

#nav {
    display: inline-block;
}



#nav .subnav {
    display: none;
    position: absolute;
    min-width: 160px;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}
#nav .nav-arrow-down {
    font-size: 14px;
}
#header .mobile-menu-btn {
    position: absolute;
    top: 0;
    right: 0;
    display:none;
}
#header .mobile-menu-btn,
#header .search-btn {
    float: right;
    line-height: 46px;
    padding: 0 21px;
}

#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}
#header .mobile-menu-btn:hover {
    background-color: #ccc;
}
#header .mobile-menu-btn:hover .menu-icon {
    color: #000;
}



#header .menu-icon,
#header .search-icon {
    color: #fff;
    font-size: 20px;

}

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background :url('..//img/slider/slider1.jpg') top center / cover no-repeat;
}

#slider .text-content {
    position: absolute;
    bottom: 48px;
    width: 100%;
}

#slider .text-heading {
    font-weight: 500;
    font-size: 24px;
}

#slider .text-description {
    font-size: 15px;
    margin-top: 25px;
    text-shadow: 0 0 1px #000;
}


#content {

}
#content .content-section {
    width: 800px;
    max-width: 100%;
    padding: 64px 0 112px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

#content .section-heading {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 4px;
}

#content .section-sub-heading {
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}

#content .about-content {
    font-size: 15px;
    margin-top: 25px;
    text-align: justify;
    line-height: 1.4;
    
}

#content .member-list {
    margin-top: 32px;
}

#content .member-name {
    font-size: 15px;
}
#content .member-img {
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}
/* Tour section */

.tour-section {
    background-color: #000;

}
.tickets-list li {
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;

}

.tickets-list .sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;

}

.tickets-list .quantity {
    float: right;
    width: 24px;
    height: 24px;
    color: #fff;
    background-color: #000;
    border-radius: 50%;
    line-height: 24px;
    margin-top: -3px;
    text-align: center;

}

.tickets-list {
    background-color: #fff;
    list-style: none;
    margin-top: 40px;
}

/* Places */

.places-list {
    margin-top: 16px;
}

.place-img {
    width: 100%;
    display: block;
}

.place-img:hover {
    opacity: 0.6;
}

.place-body {
    background-color: #fff;
    padding: 16px;
    font-size: 15px;

}

.place-heading {
    font-size: 15px;
    font-weight: 600;
}

.place-time {
    margin-top: 15px;
    color: #757575;

}

.place-desc {
    margin-top: 15px;
    line-height: 1.4;
}




.btn:hover {
    color: #000;
    background-color: #ccc;
}



.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
    
}
.modal.open {
    display: flex;
}
.modal-container {
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease 0.5s;
}
.modal-header {
    background: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}
.modal-heading-icon {
    margin-right: 16px;
}
.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    cursor: pointer;
    padding: 12px;
    opacity: 0.8;
}
.modal-body {
    padding: 16px;
}

.modal-label {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
}

#buy-tickets:hover {
    opacity: 0.9;
}

#buy-tickets {
    color: #fff;
    background: #009688;
    border: none;
    font-size: 15px;
    text-transform: uppercase;
    width: 100%;
    padding: 18px;
    cursor: pointer;
}

.modal-footer {
    padding: 16px;
    text-align: right;
}

.modal-footer a {
    text-align: right;
    color: #2196F3;
}
/* Contact from */
.contact-content{
    margin-top: 48px;
}
.contact-info {
    font-size: 18px;
    line-height: 1.5;
}
.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}
.contact-info a {
    color : #1f1aee;
    opacity: 0.8;
}

.contact-info a:hover {
    opacity: 1;
}

.contact-form {
    font-size: 15px;
}
.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.map-section img {
    width: 100%;
}
/* Footer section */
#footer {
    padding:64px 16px ;
    text-align: center;

}
#footer .socials-list {
    font-size: 24px;
}
#footer .socials-list a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}
#footer .copyright a:hover ,
#footer .socials-list a:hover {
    color: rgba(0, 0, 0, 0.4);
}
#footer .copyright {
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
}

#footer .copyright a {
    color: rgba(0, 0, 0, 0.6);
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-140px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
